.sample-servicebuilder-portlet .entry {
  border-bottom: 1px solid #ccc;
  margin: 30px;
  padding: 20px; }
  .sample-servicebuilder-portlet .entry .author {
    color: #aaa;
    font-style: italic; }

.sample-servicebuilder-portlet .new-entry-form {
  padding: 50px; }
